body{
    width: 1200px;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-left: 315px;
    margin-right: 330px;
    margin-top: 71px;
}
.top{
    color: #7D7D7D;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.first{
    color: #03A9F4;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-left: 148px;
    margin-right: 147px;
    margin-top: 92px;
}
.block{
    width: 420px;
    height: 546px;
}
img{
    width: 100%;
    height: 280px;
}
.text{
    color: #B4AD9E;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding-top: 62px;
}
.headteaxt{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #626262;
    padding-top: 32px;
}
.inftext{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
    padding-top: 40px;
}
footer{
    padding-top: 94px;
    display: flex;
    justify-content: space-around;
}
button{
    padding: 20px 48px 21px 49px;
    border: 1px solid #626262;
    background-color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
    margin-bottom: 66px;
}